.header-box {
  background-color: var(--secondary-black);
  padding: var(--padding-s);
  text-align: center;
}

.header-img {
  margin: var(--margin-l) 0;
  max-width: 70%;
  text-align: center;
}

@media (min-width: 640px) {
  .header-img {
    max-width: 40%;
  }
}
