.main-container {
  flex-grow: 1;
  background-color: var(--secondary-black);
}

.main-container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  justify-content: center;
  padding: var(--padding-m);
  gap: var(--gap-2xl);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-m);
  padding: var(--padding-s) 0 var(--padding-xl) 0;
}

.pagination-container button {
  background-color: unset;
  border: unset;
  font-size: var(--font-size-l);
}

.pagination-container button:hover {
  color: var(--yellow);
  font-weight: bolder;
  cursor: pointer;
}

.pageNumber {
  border: 1px solid var(--darkGrey);
  padding: var(--padding-3xs) var(--padding-m);
}
